<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>All Orders</title>

<% include ../partials/header %>

<% include ../partials/admin-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Welcome!</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">All Orders</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th style="text-align: center;">OrderID</th>
                  <th style="text-align: center;">UserID</th>
                  <th style="text-align: center;">FertilizerID</th>
                  <th style="text-align: center;">Quantity</th>
                  <th style="text-align: center;">Total Cost</th>
                  <th style="text-align: center;">Date</th>
                  <th style="text-align: center;">Alt Contact</th>
                  <th style="text-align: center;">Payment Mode</th>
                </tr>
                <% for(var i=0; i < List.length; i++){ %>
                <tr>
                  <td style="text-align: center;"><%= List[i].order_id %></td>
                  <td style="text-align: center;"><%= List[i].user_id %></td>
                  <td style="text-align: center;"><%= List[i].fert_id %></td>
                  <td style="text-align: center;"><%= List[i].quantity %></td>
                  <td style="text-align: center;"><%= List[i].total_cost %></td>
                  <td style="text-align: center;"><%= String(List[i].orderDate).split(" ")[1] + " " + String(List[i].orderDate).split(" ")[2] + " " + String(List[i].orderDate).split(" ")[3] %></td>
                  <% if(List[i].alt_contact){ %>
                    <td style="text-align: center;"><%= List[i].alt_contact %></td>
                  <%}else{%>
                    <td style="text-align: center;">-</td>
                  <%}%>
                  <td style="text-align: center;"><%= List[i].pay_mode %></td>
                </tr> 
                <% } %>   
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<?php include 'footer.php';?>